.timeline {
    display: grid;
    grid-template-columns: 200px 1fr 1fr 1fr 1fr;
    grid-row: 56px;
    gap: 0;
    width: 100%;
    position: relative;
}

.projectLifecycle {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 42px;
    margin-top:  auto;
    color: #fff;
    background-color: #009039;
    padding-left: 14px;
    font-size: 14px;
}